body {
	background-color: #5F5F5F;
}

.jumbotron-fluid {
    background-image: url(https://w-dog.net/wallpapers/13/15/487576178402576/miscellaneous-bike-large…r-widescreen-full-screen-widescreen-hd-wallpapers-background-wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.jumbotron-fluid h1 {
	font-size: 3.5em;
	color: #fff;
    text-shadow: 1px 1px #333;
    margin-bottom: 40px;
    margin-top: 40px;
}